<h1>Nations</h1>
<ul>
  <li>buildings</li>
  <li>technologies</li>
  <li>resources</li>
  <li>population</li>
  <li>production</li>
  <li>headquarters</li>
  <li>market</li>
  <li>diplomacy</li>
  <li>map</li>
  <li>governement</li>
</ul>
